<div class="panel-footer navbar-fixed-bottom" ng-cloak>
    <footer class="text-center" ng-cloak>
        <small>
            <a href="https://github.com/Team-Hypnos" target="_blank" class="footer-text-style">{{ author }}</a>
            &#169; 2015,
            <a href="http://telerikacademy.com/" target="_blank" class="footer-text-style">{{ copyright }}</a>
        </small>
        <br />
        <small>
            <a href="https://github.com/Team-Hypnos" target="_blank" class="footer-text-style">Open Source Project at GitHub</a>
        </small>
    </footer>
</div>