<div id="profile-container" class="container" ng-controller="ProfileController" ng-cloak>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2>{{ username }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <img id="profile-img" src="https://scontent-frt3-1.xx.fbcdn.net/hprofile-xfa1/v/t1.0-1/p160x160/11902276_656489041153858_217816622943518089_n.jpg?oh=d7785a4b3547ef00b691a307c4f0e90e&oe=56AD9306"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Add profile picture</strong></div>
                <div class="panel-body">
                    <div class="input-group image-preview">
                        <input placeholder="" type="text" class="form-control image-preview-filename"
                               disabled="disabled">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                <span class="glyphicon glyphicon-remove"></span> Clear
                            </button>
                            <div class="btn image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>
                            </div>
                            <button type="button" class="btn btn-labeled image-preview-input">
                                <span class="btn-label upload-icon"><i class="glyphicon glyphicon-upload"></i> </span>
                                <span class="image-preview-input-title">Upload</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>