<div class="container center-block" ng-cloak>
    <br/>
    <div class="row">
        <div id="register-user-container" class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 well well-lg"
             ng-controller="SignUpController">
            <legend><i class="glyphicon glyphicon-globe"></i> Register</legend>
            <form class="form" role="form" name="newUserForm">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input class="form-control" name="firstname" placeholder="First Name" type="text"
                               required autofocus ng-model="firstname"/>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <input class="form-control" name="lastname" placeholder="Last Name" type="text" required ng-model="lastname"/>
                    </div>
                </div>
                <input class="form-control" name="email" placeholder="E-mail" type="email" required ng-model="email"/>
                <input class="form-control" name="username" placeholder="Username" type="text" required ng-model="username"/>
                <input class="form-control" name="password" placeholder="New Password" type="password" required ng-model="password"/>

                <br />
                <button class="btn btn-lg btn-primary btn-block" type="button"
                        ng-disabled="newUserForm.$pristine || newUserForm.$invalid"
                        ng-click="signUp(firstname, lastname, username, password, email)">
                    Sign up</button>
            </form>
        </div>
    </div>
</div>