<br/>
<br/>
<br/>
<br/><br/>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">
        <div id="chat-box" class="panel panel-primary">
            <div class="panel-heading">Bulgaria Best Town 2015 - Live Chat</div>
            <ul class="list-group" id="chat-output"></ul>
            <div class="panel-body">
                <form id="chat">
                    <div class="input-group">
                        <input type="text" class="form-control" id="chat-input" />
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Send Message</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>