@font-face {
    font-family: 'Gallery';
    src: url('fonts/Player%20One.ttf');
}

body {
    background-image: url(../content/town-night-blur.jpg);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a {
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: gold;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
}

.navbar-default .navbar-nav > li > a:focus {
    color: dodgerblue;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #030033;
}

.navbar-default {
    background-color: #0f006f;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: silver;
}

.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    background-color: snow;
}

.footer-text-style {
    font-weight: bold;
}

#application-title {
    font-family: Gallery;
    font-size: 21px;
    color: gold;
    letter-spacing: 2px;
    line-height: 26px;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 50, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before {
    left: 0;
    right: 0;
}

.item {
    position: relative;
    width: 100%;
    height: 44em;
}

.form-signin-heading {
    color: white;
}

.form-control {
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
}

.remember-me-label {
    margin-left: 20px;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.input-group {
    margin-bottom: 10px;
}

.separator {
    border-right: 1px solid #dfdfe0;
}

.album {
    width: 200px;
    height: 120px;
    list-style: none;
    margin: 15px;
    margin-bottom: 25px;
}

ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

ul li img {
    cursor: pointer;
    width: 200px;
    height: 120px;
    margin-left: -15px;
    border: 5px solid white;
}

ul li img:hover {
    border: 5px solid gold;
}

#album-container {
    margin-top: 65px;
    margin-bottom: 65px;
}

.album-name {
    font-size: 16px;
    color: white;
    margin-top: 2px;
    margin-left: -15px;
    margin-right: 15px;
}

.album-size {
    color: white;
    margin-top: 3px;
    border-radius: 150px;
    background-color: dodgerblue;
    width: 30px;
    padding: 2px;
    text-align: center;
}

.album-info {
    margin-bottom: 25px !important;
}

#town-name {
    margin-left: 5px;
    color: snow;
    font-size: 35px;
}

#go-back {
    font-size: 22px;
    color: dodgerblue;
    text-decoration: none;
    text-align: right;
    margin-left: 65px;
    margin-top: 15px;
}

#go-back:hover {
    color: dodgerblue;
}

#posts-header {
    vertical-align: middle;
    margin-bottom: 15px;
    margin-top: 5px;
}

.post {
    width: 200px;
    height: 120px;
    list-style: none;
    margin: 15px;
    margin-bottom: 25px;
}

.post-title {
    font-size: 16px;
    color: white;
    margin-top: 2px;
    margin-left: -15px;
}

.post-likes {
    color: white;
    margin-top: 2px;
    margin-left: 15px;
    margin-right: 3px;
    font-size: 18px;
}

.glyphicon-thumbs-up {
    color: dodgerblue;
    font-size: 20px;
    margin-top: 2px;
    margin-left: -10px;
}

.modal-image {
    position: fixed;
}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;
    left: -12%;
}

.modal-body > img {
    width: 800px;
    height: 500px;
}

.vote {
    cursor: pointer;
}

#post-picture {
    width: inherit;
    height: inherit;
    border: 3px solid gold;
    margin-bottom: 15px;
}

#user-post {
    margin-top: 75px;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#user-post > .row:first-child {
    margin-bottom: -5px;
}

#current-post-title {
    font-family: sans-serif;
    font-size: 35px;
    margin-left: 25px;
    margin-top: 10px;
}

#current-post-author {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 25px;
}

#current-post-description {
    background-color: #F5F5F5;
    border-top: 2px solid #DDDDDD;
    border-right: 2px solid #DDDDDD;
    border-bottom-left-radius: 5px;
    font-family: sans-serif;
    height: 65px;
    font-size: 15px;
}

#current-post-likes {
    color: dodgerblue;
    font-family: sans-serif;
    padding-top: 7px;
    border-top: 2px solid #DDDDDD;
    font-size: 20px;
}

#register-user-container {
    margin-top: 70px;
}

#login-user-container {
    margin-top: 70px;
}

#categories-container {
    margin-top: 70px;
}

#categories-container:last-child {
    margin-bottom: 120px;
}

.category-name{
    color: white;
    font-family: sans-serif;
    font-size: 35px;
}

.category-post-holder{
    width: 200px;
    height: 120px;
    list-style: none;
    margin: 15px;
    margin-bottom: 50px;
}

.name-town {
    font-size: 18px;
    color: snow;
    font-family: cursive;
    margin-left: -25px;
    margin-bottom: 2px;
}

hr.style-two {
    z-index: 100;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(256, 256, 256, 0.75), rgba(0, 0, 0, 0));
}

.glyphicon-zoom-in {
    font-size: 18px;
    margin-left: -10px;
    margin-top: 2px;
    color: white;
}

#categories-container {
    margin-bottom: 120px;
}

.icon-left {
    margin-left: -28px;
    margin-right: 16px;
}

.glyphicon-zoom-in:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.vote:hover{
    color: white;
    text-decoration: none;
}

.glyphicon-thumbs-up:hover{
    color: dodgerblue;
    text-decoration: none;
}

.glyphicon-tower {
    margin-top: 30px;
}

#profile-container {
    margin-top: 50px;
    background-color: #FFFFE7;
}

#profile-img {
    width: 170px;
    height: 170px;
    border: 3px solid dodgerblue;
    margin: 25px;
    border-radius: 150px !important;
}

#chat-output {
    height: 300px;
    overflow-y: scroll;
}

#chat-box {
    margin-right: 25px;
}